body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 1440px;
  position: relative;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  outline: none;
}

.hidden {
  display: none;
}

header {
  padding: 50px 140px 35px 140px;
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 200px;
  justify-content: space-between;
  width: 1000px;
}

.main-navigation-menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-item {
  padding: 30px 23px;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.menu-item:hover,
.user-item:hover {
  color: #fb565a;
}

.menu-active {
  border-bottom: 2px solid #fb565a;
}

.menu-item:active,
.user-item:active {
  opacity: 0.3;
}

.main-navigation-user {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-width: 115px;
}

.user-item {
  padding: 30px 0 30px 40px;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background-image: url(/img/cart-icon.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.slider {
  padding: 0 140px 0 140px;
  background-color: #eee;
  position: relative;
}

.slider-item {
  background-position: bottom right;
  padding-top: 45px;
}

.slider1 {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
}

.slider2 {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
}

.slider3 {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
}

.slider-info {
  width: 550px;
}

.slider-title {
  color: #000000;
  font-family: Roboto;
  font-weight: 500;
  font-size: 55px;
  padding: 0 0 30px 0;
  margin: 0;
}

.slider-txt {
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 400px;
  padding-bottom: 45px;
  margin: 0;
}

.slider-btn {
  width: 240px;
  height: 50px;
  margin-bottom: 80px;
  background-color: #fb565a;
}

.slider-btn:hover {
  background-color: #e74246;
}

.slider-btn:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #e16c6f;
}

.pagination {
  position: absolute;
  bottom: 90px;
  right: 640px;
}

.pagination-item {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
}

.pagination-item-active {
  background-image: url(/img/active-button.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  padding: 80px 140px 80px 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  width: 300px;
}

.services-item:nth-child(3n) {
  padding-right: 60px;
}

.services-item-img {
  width: 300px;
  height: 146px;
}

.services-item-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 25px 0 25px 0;
  margin: 0;
}

.services-item-txt {
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 30px;
  margin: 0;
}

.services-btn-1 {
  width: 160px;
  height: 50px;
  background-color: #fb565a;
}

.services-btn-1:hover {
  background-color: #e74246;
}

.services-btn-1:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #e16c6f;
}

.services-btn-2 {
  width: 160px;
  height: 50px;
  background-color: #00ca74;
}

.services-btn-2:hover {
  background-color: #00bc6c;
}

.services-btn-2:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
  color: #4ac390;
}

.services-btn-3 {
  width: 160px;
  height: 50px;
  background-color: #efc84a;
}

.services-btn-3:hover {
  background-color: #eab534;
}

.services-btn-3:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: #ebbb56;
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 140px 75px 140px;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.description-left {
  width: 63%;
  padding-top: 80px;
  padding-bottom: 75px;
}

.description-left-title {
  color: #000000;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 35px;
  margin: 0;
}

.description-left-txt {
  margin: 0;
  padding-bottom: 45px;
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.description-left-list-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.description-left-list {
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.description-left-list-item {
  list-style: none;
  background: url(/img/Layer_23_copy_5.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}

.description-right {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 75px;
}

.description-right-img {
  padding-bottom: 40px;
  height: 208px;
  width: 360px;
}

.company-name,
.description-right-title {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.description-right-stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-right-stat-item {
  width: 110px;
  box-sizing: border-box;
}

.stat-numbers {
  color: #000000;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 22px;
}

.stat-numbers-name {
  margin: 0;
  padding: 0;
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.logos {
  padding: 45px 140px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}

.logos-item {
  display: flex;
  width: 295px;
  height: 100px;
  justify-content: center;
  position: relative;
}

.logos-item:nth-child(n + 2):before {
  content: "";
  position: absolute;
  border-left: 2px solid #eeeeee;
  height: 50%;
  top: 25px;
  left: 1px;
}

.logos-item:first-child,
.logos-item:last-child {
  width: 280px;
}

.logos-item-img {
  opacity: 0.2;
  align-self: center;
}

.logos-item-img:hover {
  opacity: 1;
}

.logos-item-img:active {
  opacity: 0.1;
}

.map {
  position: relative;
  padding-top: 60px;
  background-image: url(/img/Слой_2.png);
  background-position: 0 80px;
  background-repeat: no-repeat;
}

.adress {
  position: absolute;
  width: 310px;
  background-color: #fff;
  min-height: 320px;
  top: 134px;
  left: 140px;
  padding: 50px;
  box-sizing: border-box;
}

.company-adress {
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 20px;
  margin: 0;
}

.company-phone {
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 35px;
  margin: 0;
}

.form-btn {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
}

.form-btn:hover {
  background-color: #e74246;
}

.form-btn:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #e16c6f;
}

.main-footer {
  padding: 70px 140px 70px 140px;
  display: flex;
}

.footer-left {
  display: flex;
  flex-direction: row;
  padding-right: 140px;
}

.link-social-icon {
  width: 80px;
  height: 80px;
  display: flex;
  background-color: #eeeeee;
  border-radius: 50%;
  justify-content: center;
}

.link-social-icon:hover {
  background-color: #e74246;
}

.link-social-icon:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.link-social-icon:active .social-icon {
  fill: #e16c6f;
}

.social-icon {
  fill: #fff;
  align-self: center;
}

.link-social-icon:nth-child(n + 2) {
  margin-left: 10px;
}

.footer-right-txt {
  color: #000000;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-bottom: 10px;
}

.footer-right-sale {
  color: #444444;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.modal {
  width: 960px;
  height: 590px;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -480px;
  padding: 70px 100px 85px 100px;
  box-sizing: border-box;
}

.modal-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-form-tile {
  color: #000000;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  padding-bottom: 50px;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 35px;
}

.user-info-title {
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
}

.user-info-txt {
  width: 360px;
  height: 50px;
  color: #444444;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  outline: none;
}

.user-info-txt:hover {
  border: 2px solid #b4b9bb;
}
.user-info-txt:focus {
  border: 2px solid #000000;
}

.invalid-info {
  border: 2px solid #e74246;
}

.user-info-p {
  margin: 0;
  padding-bottom: 10px;
}

.user-info-txt {
  padding-left: 15px;
  box-sizing: border-box;
}

.user-txt {
  padding-bottom: 45px;
}

.user-txt-wrp {
  width: 760px;
  height: 118px;
  padding: 15px;
  box-sizing: border-box;
  color: #444444;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  resize: none;
  outline: none;
}

.user-txt-wrp:hover {
  border: 2px solid #b4b9bb;
}

.user-txt-wrp:focus {
  border: 2px solid #000000;
}

.btn-form-sbmt {
  width: 260px;
  height: 50px;
  background-color: #fb565a;
}

.modal-close {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  right: -20px;
  top: 10px;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #fb565a;
  opacity: 0.5;
  transform: rotate(45deg);
}

.modal-close::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #fb565a;
  opacity: 0.5;
  transform: rotate(-45deg);
}

.shop-pop {
  display: flex;
  flex-direction: row;
  padding: 60px 140px 0 140px;
  justify-content: space-between;
}

.shop-title {
  padding-top: 35px;
  padding-bottom: 115px;
  margin: 0;
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  background-color: #eeeeee;
}

.shop-filters-cost {
  border: none;
  padding: 0 0 60px 0;
  margin: 0;
}

.shop-filters-grid {
  border: none;
  padding: 0 0 50px 0;
  margin: 0;
}

.shop-filters-special {
  border: none;
  padding: 0 0 45px 0;
  margin: 0;
}

.filters-legend-cost {
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 260px;
}

.range-controls {
  height: 80px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 39px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: #d7dcde;
}

.bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
  width: 112px;
}

.price-controls input {
  color: #283136;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-left: 5px;
}

.max-price {
  text-align: right;
}

.filters-legend-grid {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.shop-filters-grid p {
  margin: 0;
  padding: 0;
  padding: 8px 0;
}

.grid-radio {
  display: none;
}

.grid-radio-label {
  position: relative;
  padding-left: 40px;
}

.grid-radio-label:before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -4px;
  background-image: url(/img/radio-off.png);
  background-repeat: no-repeat;
}

.grid-radio:checked + .grid-radio-label:before {
  background-image: url(/img/radio-on.png);
}

.grid-radio-label:hover::before{
  background-image: url(/img/radio-off-hover.png);
  background-repeat: no-repeat;
}

.grid-radio:checked + .grid-radio-label:hover::before {
  background-image: url(/img/radio-on-hover.png);
}

.filters-legend-special {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.special-checkbox {
  display: none;
}

.special-checkbox-label {
  position: relative;
  padding-left: 40px;
}

.special-checkbox-label:before {
  content: "";
  width: 27px;
  height: 23px;
  position: absolute;
  left: 0;
  top: -1px;
  background-image: url(/img/checkbox-off.png);
  background-repeat: no-repeat;
}

.special-checkbox:checked + .special-checkbox-label:before {
  background-image: url(/img/checkbox-on.png);
}

.special-checkbox-label:hover::before {
  background-image: url(/img/checkbox-off-hover.png);
}

.special-checkbox:checked + .special-checkbox-label:hover::before {
  background-image: url(/img/checkbox-on-hover.png);
}

.filters-btn {
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filters-btn:hover {
  background-color: #dfdfdf;
}

.filters-btn:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.shop-page {
  display: flex;
  flex-direction: column;
  width: 760px;
  flex-wrap: wrap;
}

.shop-page-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sort-title {
  margin: 0;
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.sort-items-div {
  display: flex;
}

.sort-item {
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 13px;
}

.sort-arrows {
  display: flex;
  flex-direction: row;
  width: 40px;
  justify-content: space-between;
  margin-left: 45px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

.sort-item-down {
  width: 11px;
  height: 10px;
}

.products-item {
  width: 360px;
  height: 616px;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.products-item-svg{
  opacity:0.12;
}

.products-item-img {
  position: absolute;
  top: 40px;
  left: 0;
}

.products-item-info {
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 35px;
  visibility: hidden;
}

.products-item:hover .products-item-info{
  visibility: visible;
}

.products-item:hover .products-item-svg{
  opacity:1;
}

.item-title {
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 25px;
}

.item-txt {
  color: #666666;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-bottom: 30px;
  width: 230px;
  display: inline-block;
}

.item-price-btn {
  width: 200px;
  height: 50px;
  background-color: #fb565a;
}

.item-price-btn:hover {
  background-color: #e74246;
}

.item-price-btn:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: #e16c6f;
}


.shop-pages-change {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.page-change {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-right: 10px;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

.active-shop-page {
  box-sizing: border-box;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  padding: 12px;
}

.next-page {
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  padding: 16px 77px;
  box-sizing: border-box;
  color: #000000;
  font-weight: 500;
  line-height: 18px;
}

.hidden-title{
  visibility: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
}